.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--size-input-height);
    padding: var(--size-input-padding);
    font-size: var(--size-input-font);
    line-height: var(--size-input-line-height);
    color: var(--color-light);
    gap: 8px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    white-space: nowrap;
    border-radius: var(--size-button-border-radius);
    width: fit-content;

    &:hover {
        color: var(--color-light);
    }

    &_fullWidth {
        width: 100%;
    }

    &_small {
        height: 22px;
        padding: 4px;
        font-size: 12px;
        line-height: 12px;
        gap: 4px;
    }

    &_medium {
        height: 30px;
        padding: 8px;
        font-size: 12px;
        line-height: 14px;
        gap: 6px;
    }

    &_large {
        height: 45px;
        padding-left: 30px;
        padding-right: 30px;
        font-size: 16px;
        line-height: 18px;
    }

    &_primary {
        background-color: var(--color-button-primary);
        border: 1px solid var(--color-button-primary);

        &:hover {
            background-color: var(--color-button-primary-hover);
        }
    }

    &_secondary {
        background-color: var(--color-button-secondary);
        border: 1px solid var(--color-button-secondary);

        &:hover {
            background-color: var(--color-button-secondary-hover);
        }
    }

    &_danger {
        background-color: var(--color-button-danger);
        border: 1px solid var(--color-button-danger);

        &:hover {
            background-color: var(--color-button-danger-hover);
        }
    }

    &_light {
        background-color: var(--color-button-light);
        color: var(--color-button-light-text);
        border: 1px solid transparent;

        &:hover {
            background-color: var(--color-button-light-hover);
            color: var(--color-button-light-text);
        }
    }

    &_transparent {
        background-color: transparent;
        color: var(--color-button-transparent);

        &:hover {
            color: var(--color-button-transparent-hover);
        }
    }

    &_secondaryOutline {
        background-color: transparent;
        border: 1px solid var(--color-button-secondary);
        color: var(--color-button-secondary);

        &:hover {
            background-color: var(--color-button-secondary);
            border-color: var(--color-button-secondary-hover);
            color: var(--color-light);
        }
    }

    &_secondaryOutlineLight {
        background-color: transparent;
        border: 1px solid var(--color-button-light);
        color: var(--color-button-light);

        &:hover {
            background-color: var(--color-button-light);
            border-color: var(--color-button-light-hover);
            color: var(--color-button-light-text);
        }
    }

    &_link {
        display: inline-flex;
        white-space: normal;
        padding: 0;
        color: var(--color-button-link);
        vertical-align: text-top;
        height: auto;
        border: 0 !important;
        background: transparent !important;
        gap: 4px;

        &:hover {
            color: var(--color-button-link-hover);
        }

        &:focus-visible {
            outline: none;
            color: var(--color-button-link-hover);
            text-decoration: underline;
        }
    }

    &_disabled {
        cursor: not-allowed;
        opacity: 0.8;
        background: var(--color-button-disabled);
        border: 1px solid var(--color-button-disabled);

        &:hover {
            background: var(--color-button-disabled);
        }
    }

    &_loading {
        text-shadow: none;
        color: transparent;
        cursor: not-allowed;
        position: relative;

        &:hover {
            text-shadow: none;
            color: transparent;
        }
    }

    &_inline {
        display: inline-flex;
    }
}

.spinner {
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid var(--color-button-spiner);
    border-top: 2px solid transparent;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    vertical-align: middle;
    position: absolute;
    left: calc(50% - 8px);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
