.input {
    height: var(--size-input-height);
    padding: var(--size-input-padding);
    border: 1px solid var(--color-input-border);
    border-radius: var(--size-input-border-radius);
    font-size: var(--size-input-font);
    line-height: var(--size-input-line-height);
    color: var(--color-input-text);
}