@use '@bdt/shared/styles/breakpoints.scss' as breakpoints;

.dashboardHead {
    min-height: 80px;
    position: relative;
    padding: 20px 0;

    &__title {
        font-size: 26px;
        line-height: 40px;
    }

    &__backLink {
        display: flex;
        height: 40px !important;
        width: 40px !important;
        justify-content: center;
        align-items: center;
        float: left;
    }

    @include breakpoints.breakpoint-min('lg') {
        padding: 20px 180px 20px 40px;

        &__title {
            font-size: 30px;
        }

        &__backLink {
            position: absolute;
            left: 0;
        }
    }
}
