:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #e5384f;
    --color-red-dark: #9b1818;
    --color-pink: #d82e5a;
    --color-green: #21BDA8;

    /* Blue colors */
    --color-blue-200: #E0F5FE;
    --color-blue-300: #08B4FB;
    --color-blue-400: #07a2e5;
    --color-blue-500: #3b82f6;
    --color-blue-700: #175ac5;

    /* Gray colors */
    --color-gray-50: #f6f4f9;
    --color-gray-100: #f8f6f6;
    --color-gray-150: #eeeef0;
    --color-gray-200: #dfdfdf;
    --color-gray-300: #bfbfbf;
    --color-gray-400: #9f9f9f;
    --color-gray-500: #5b5b5b;
    --color-gray-600: #4b4b4b;
    --color-gray-700: #2F3641;
    --color-gray-800: #1a1a1a;
    --color-gray-900: #101010;

    /* Theme colors */
    --color-primary: var(--color-blue-300);
    --color-danger: var(--color-red);
    --color-light: var(--color-white);

    /* Input colors */
    --color-input-text: var(--color-gray-800);
    --color-input-error: var(--color-red);
    --color-input-border: var(--color-gray-300);
    --color-input-border-hover: var(--color-blue-500);


    /* Button colors */
    --color-button-light: var(--color-white);
    --color-button-light-hover: var(--color-gray-100);
    --color-button-light-text: var(--color-gray-800);
    --color-button-transparent: var(--color-gray-800);
    --color-button-transparent-hover: var(--color-gray-900);
    --color-button-secondary: var(--color-gray-700);
    --color-button-secondary-hover: var(--color-gray-900);
    --color-button-link: var(--color-blue-500);
    --color-button-link-hover: var(--color-blue-700);
    --color-button-primary: var(--color-primary);
    --color-button-primary-hover: var(--color-blue-400);
    --color-button-danger: var(--color-red);
    --color-button-danger-hover: var(--color-red-dark);
    --color-button-spiner: var(--color-white);
    --color-button-disabled: var(--color-gray-300);

    /* Loader colors */
    --color-loader-primary: var(--color-gray-800);
    --color-loader-background: var(--color-white);

    /* Sidebar colors */
    --color-sidebar-background: var(--color-white);
    --color-sidebar-text: var(--color-gray-800);
    --color-sidebar-hover: var(--color-gray-100);

    /* Dashboard colors */
    --color-dashboard-background: var(--color-blue-200);

    /* Text Editor */
    --color-toolbar-link-text: var(--color-blue-500);
    --color-toolbar-placeholder-text: var(--color-gray-400);
    --color-toolbar-colors-primary-text: var(--color-gray-800);
}
