:root {
    --size-input-height: 38px;
    --size-input-padding: 10px 16px;
    --size-input-padding-top: 10px;
    --size-input-padding-bottom: 10px;
    --size-input-padding-left: 16px;
    --size-input-padding-right: 16px;
    --size-input-font: 14px;
    --size-input-line-height: 18px;
    --size-input-border-radius: 8px;
    --size-input-helper-font: 12px;
    --size-input-helper-weight: 400;

    --size-button-border-radius: 9999px;
}
