.expandableText {
    height: auto;
    max-height: var(--max-height);
    overflow: hidden;
    padding-top: 5px; // чтобы не обрезался вверх у TextPreview

    &-full {
        max-height: none;
        overflow: visible;
        max-height: none;
    }
}