.expandableText {
    display: flex;
    align-items: center;
    color: var(--color-text-info);

    // Многострочное обрезание с троеточием
    display: -webkit-box;
    -webkit-line-clamp: var(--max-lines, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;

    &-full {
        -webkit-line-clamp: unset;
        display: block;
        overflow: visible;
        height: auto;
    }
}