@use '@bdt/shared/styles/breakpoints' as breakpoints;

.newsPage {
    display: grid;
    justify-items: center;
    gap: 30px;
    margin-top: 50px;

    &__title {
        font-weight: 800;
        font-size: 24px;
        text-align: center;
    }

    &__list {
        display: grid;
        gap: 60px;
    }
}

@include breakpoints.breakpoint-min('xl') {
    .newsPage {
        &__list {
            gap: 40px;

            &-card {
                max-width: 900px;
            }
        }
    }
}