.textarea {
    &__field {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: var(--size-input-height);
        font-size: var(--size-input-font);
        line-height: var(--size-input-line-height);
        padding: var(--size-input-padding);
        border-radius: var(--size-input-border-radius);
        width: 100%;
        max-height: 400px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        resize: vertical;
        color: var(--color-input-text);
        border: 1px solid var(--color-input-border);
        outline: none;

        &:active,
        &:hover {
            border-color: var(--color-input-border-hover);
            transition: border 0.3s ease;
        }

        &_error {
            border-color: var(--color-input-error);
        }

        &_disabled {
            cursor: not-allowed;
            opacity: 0.8;

            &:hover {
                border-color: var(--color-input-border);
            }
        }
    }
}
